@font-face {
    font-family: "SF Pro Text";
    src: url(/fonts/SF-Compact-Display-Medium.otf) format('otf')
    url(/fonts/SF-Pro-Display-Medium.otf) format('otf')
    url(/fonts/SF-Pro-Display-Regular.otf)format('otf')
    url(/fonts/SF-Pro-Display-Semibold.otf) format('otf') 
    url(/fonts/SF-Pro-Text-Regular.otf)format('otf');
    font-weight: 400;
    font-style: normal;
  
    
}






body{
    font-family: "SF Pro Text";
}